/* importing fonts  */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  width: 100vw;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: normal;
}

body {
  width: 100vw;
  height: 200vh;
  overflow-x: hidden;
}

/*---------------- Announcement Bar  ------------------*/
header .announcement-bar {
  height: 35px;
  background: #0f234c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
}

header .announcement-bar p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  line-height: 21px;
}
header .announcement-bar .fa {
  font-size: 15px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
}

/*---------------- Navigation  ------------------*/
header nav {
  height: 68px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}

header nav .logo {
  margin-right: 28px;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

header nav ul a {
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 400;
  color: #0f234c;
  line-height: 21px;
  text-decoration: none;
  transition: all 0.3s;
}

header nav ul a span {
  display: inline-block;
  margin-left: 10px;
  font-size: 10px;
  font-weight: 700;
  line-height: 22px;
  color: #3057a7;
}

/* Mobile Navigation  */
header .nav-menu-mobile-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 65px;
  left: 0;
}

.nav-menu-mobile-wrapper .best-seller-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 20px;
}

.nav-menu-mobile-wrapper .best-seller p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 22px;
  color: #0f234c;
}

.nav-menu-mobile-wrapper .best-seller a {
  font-size: 10px;
  font-weight: 400;
  line-height: 21px;
  color: #3057a7;
}

.nav-menu-mobile-wrapper .owl-carousel {
  padding-left: 20px;
}

.nav-menu-mobile-wrapper .owl-carousel .owl-nav {
  display: none;
}

.nav-menu-mobile-wrapper .owl-carousel .owl-stage {
  padding-left: 0 !important;
}

.nav-menu-mobile-wrapper .best-seller .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 147px;
  background: #f2f2f2;
}

.nav-menu-mobile-wrapper .best-seller .img-box img {
  height: 100%;
  width: 100%;
}

.nav-menu-mobile-wrapper .nav-menu-mobile {
  padding: 0 20px;
}

.nav-menu-mobile-wrapper .nav-menu-mobile li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ecf3ff;
  padding: 10px 0;
}

.nav-menu-mobile-wrapper .nav-menu-mobile li:last-child {
  border-bottom: 0px solid transparent;
}

/* sub menu  */
.nav-menu-mobile-wrapper .nav-menu-mobile .menu-item .sub-menu.hide-menu,
.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu {
  background: #fff;
  position: absolute;
  top: -50px;
  left: 100%;
  z-index: 99;
  width: 100%;
  transition: all 0.3s;
}

.nav-menu-mobile-wrapper .menu-item:hover .sub-menu {
  left: 0;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu .sub-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
  padding: 0 20px;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu-header p {
  display: flex;
  align-items: center;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu-header .back-btn,
.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu-header .close-btn {
  padding: 0;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu-header .back-btn {
  display: inline-block;
  width: 8px;
  height: 20px;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .close-btn img,
.nav-menu-mobile-wrapper .nav-menu-mobile .back-btn img {
  width: 100%;
  height: 100%;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu-header .close-btn {
  width: 15px;
  height: 18px;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu-header span {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #0f234c;
  margin-left: 15px;
}

.nav-menu-mobile-wrapper .sub-menu .featured-section .featured-section-header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 14px;
}

.nav-menu-mobile-wrapper
  .sub-menu
  .featured-section
  .featured-section-header
  span {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 22px;
  color: #0f234c;
}

.nav-menu-mobile-wrapper
  .sub-menu
  .featured-section
  .featured-section-header
  a {
  font-family: Merriweather Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: underline;
  color: #3057a7;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu ul {
  padding: 0 20px;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu ul li {
  padding-bottom: 8px;
  border-bottom: 0px solid transparent;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu ul a {
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  color: #0f234c;
}

.nav-menu-mobile-wrapper .sub-menu ul li:last-child a {
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 18px;
  text-decoration: underline;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu .featured-section-header {
  padding: 0 20px;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu .card {
  background: #f2f2f2;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu .card .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 147px;
}

.nav-menu-mobile-wrapper .sub-menu .card img {
  height: 100%;
  width: 100%;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu .card-content {
  padding: 10px;
  min-height: 66px;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu .card-category {
  font-size: 8px;
  font-weight: 700;
  line-height: 9px;
  letter-spacing: 1.6px;
  color: #828282;
  margin-bottom: 2px;
}

.nav-menu-mobile-wrapper .nav-menu-mobile .sub-menu .card-title {
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 16px;
}

/* Desktop Navigation  */
header nav .nav-menu-desktop-wrapper {
  position: fixed;
  display: none;
}
